<% @todolists.each do |todolist| %>
  <div class="index_row clearfix">
    <h2 class="todo_list_title"><%= link_to todolist.title, todolist %></h2>
    <p class="todo_list_sub_title"><%= todolist.description %></p>
  </div>
<% end %>

<div class="links">
  <%= link_to "New Todo List", new_todolist_path %>
</div>

<!-- show page: add link to title, todolist -->
<!-- after styling no edit or delete showed here -->

<!--
<h1>This is todolist index page</h1>


<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
 
  <% @todolists.each do |todolist| %>
    <tr>
      <td><%= todolist.title %></td>
      <td><%= todolist.description %></td>
      <td><%= link_to 'Show', todolist_path(todolist) %></td>
      <td><%= link_to 'edit', edit_todolist_path(todolist) %></td>
      <td><%= link_to 'delete', todolist_path(todolist),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
-->