<p id="notice"><%= notice %></p>
<h2 class="todo_list_title"><%= @todolist.title %></h2>
<p class="todo_list_sub_title"><%= @todolist.description %></p>


<div id="todo_items_wrapper">
 
 
    <%= render @todolist.items%>
 
    <div id="form">
      <%=render 'items/form'%>
    </div>
</div>


<div class="links">
  <%= link_to 'Edit', edit_todolist_path(@todolist) %>|
  <%= link_to 'Delete', todolist_path(@todolist),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>|
  <%= link_to 'Back', todolists_path%>
</div>